VSTOCK_BASE_URL=https://virtual-stock.xyz
CHROME_CDP_URL=http://127.0.0.1:9222

DRY_RUN=false
ENABLE_TRADING=true

POLL_MS=10000
SCAN_PAGES=35
PAGE_SIZE=50

BUY_QUANTITY=2
MAX_POSITIONS=15
MAX_CHANGE_RATE_ON_ENTRY=80

TAKE_PROFIT_RATE=5
STOP_LOSS_RATE=-5
TRADE_COOLDOWN_MS=30000

EVALUATE_TOP_N=30
MAX_BUYS_PER_LOOP=2
BUY_SCORE_THRESHOLD=12

MIN_MOMENTUM_1H=3
MAX_MOMENTUM_1H=25
MAX_VOLATILITY_1H=30
MAX_PULLBACK_FROM_HIGH=-6

TRAILING_START_RATE=2
TRAILING_DROP_RATE=-1.5

BUY_CASH_RESERVE=0
BUY_PRICE_BUFFER_RATE=5
MAX_BUY_CASH_PER_TRADE_RATE=12
MIN_BUY_CASH=8000