POLL_MS=10000
SCAN_PAGES=35
PAGE_SIZE=50

DRY_RUN=false
ENABLE_TRADING=true

BUY_QUANTITY=1
MAX_POSITIONS=3
MAX_CHANGE_RATE_ON_ENTRY=120

TAKE_PROFIT_RATE=2.3
STOP_LOSS_RATE=-1.5
TRADE_COOLDOWN_MS=90000

EVALUATE_TOP_N=100
MAX_BUYS_PER_LOOP=1
BUY_SCORE_THRESHOLD=13

MIN_MOMENTUM_1H=1.2
MAX_MOMENTUM_1H=22
MAX_VOLATILITY_1H=24
MAX_PULLBACK_FROM_HIGH=-2.2

TRAILING_START_RATE=1.2
TRAILING_DROP_RATE=-0.7

BUY_CASH_RESERVE=0
BUY_PRICE_BUFFER_RATE=5
MAX_BUY_CASH_PER_TRADE_RATE=30
MIN_BUY_CASH=8000

MAX_HOLD_MS=240000
TIME_EXIT_PROFIT_RATE=0.4
TIME_EXIT_LOSS_RATE=-0.7
MIN_SHORT_MOMENTUM=0.8

MAX_ENTRY_PRICE=300000
BUY_CONFIRM_COUNT=2
BUY_CONFIRM_WINDOW_MS=70000
MIN_MICRO_MOMENTUM=-0.1

PRICE_FETCH_CONCURRENCY=8
CONFIRM_CANDIDATES_N=4
WAIT_LOG_TOP_N=4

LIVE_TRANSITION_BOOST=3
LIVE_TRANSITION_WINDOW_MS=300000
LIVE_TRANSITION_RELAX_MOMENTUM=0.3
LIVE_TRANSITION_RELAX_SCORE=1

BUY_GLOBAL_COOLDOWN_MS=45000
LOSS_PAUSE_COUNT=2
LOSS_PAUSE_MS=180000
BLOCK_BUY_WHEN_HOLDING_LOSS=false

MULTI_BUY_PRICE_LIMIT=500000
MULTI_BUY_QUANTITY=3

DIVIDEND_MODE_START_HOUR=23
DIVIDEND_MODE_START_MINUTE=40
DIVIDEND_MODE_END_HOUR=0
DIVIDEND_MODE_END_MINUTE=5

DIVIDEND_AGGRESSIVE_START_HOUR=23
DIVIDEND_AGGRESSIVE_START_MINUTE=50

DIVIDEND_MAX_POSITIONS=3
DIVIDEND_BUY_QUANTITY=3
DIVIDEND_ADD_BUY_QUANTITY=3
DIVIDEND_STOP_LOSS_RATE=-7
DIVIDEND_MIN_SCORE=8

DIVIDEND_CASH_RESERVE=30000
DIVIDEND_MAX_BUY_CASH_PER_TRADE_RATE=60